<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo" style="padding-left: 20px;">Authenticator</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <% if(!user) { %>
      <li><a href="/auth/login">Login</a></li>
      <% } else { %>
      <li><a href="/auth/logout">Logout</a></li>
      <li style="padding-right: 20px;">
        <a href="/user/dashboard">Dashboard</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
