<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/navbar',{user}) %>
    <div style="padding: 10px;">
      <h3>Integrating Authentication</h3>
      <h5>Using passport.js for Oauth</h5>
    </div>
  </body>
</html>
