<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>Home</title>
    <style>
      .btn {
        width: 200px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar',{user}) %>
    <div style="padding: 10px;" class="center-align">
      <h3 style="margin-bottom: 50px;">Sign Up</h3>
      <form action="/signup" method="post">
        <div class="row">
            <div class="col s5"></div>
            <div class="input-field col s3">
              <input id="email" type="email" class="validate" name="email" />
              <label class="active" for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col s5"></div>
            <div class="input-field col s3">
              <input
                id="password"
                type="password"
                class="validate"
                name="password"
              />
              <label class="active" for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s5"></div>
            <div class="input-field col s3">
              <input id="password-confirm" type="password" class="validate" name="passwordConfirm" />
              <label class="active" for=""password-confirm">Confirm Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s5"></div>
            <div class="input-field col s3">
                <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                </button>
            </div>
          </div>
    </form>
    </div>
  </body>
</html>
